.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color:  #5e4485;
    color: #fff;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}
.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
    color: #fff;
    background-color: #5e4485;
}
.navbar-inverse .navbar-nav li a{
    color: #d5d5d5;
}
.carousel-caption{
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
}
.btn{
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background: #5e4485;
    border: solid #fff;
}
@media (max-width: 900px) {
    .fa{
        font-size: 20px;
        padding: 10px;
    }
}
@media (max-width: 600px) {
    .carousel-caption{
        display: none;
    }
    .cus-icon{
        max-width: 150px;
    }
    h4{
        font-size: 1.7em;
    }
}
.cus-icon{
    max-width: 200px;
    margin: 1% auto;
}
.container{
    margin: 4% auto;
}
p{
    text-align: justify;
}
h4 a:hover, h4 a:focus{
    text-decoration: none;
}
footer{
    width: 100%;
    background-color: #5e4485;
    padding: 5%;
    color: #fff;
}
.fa{
    padding: 20px;
    font-size: 25px;
    color: #fff;
}
.fa:hover,.fa:focus{
    color: #d5d5d5;
    text-decoration: none;
}